.back-to-top {
	position: fixed;
	display: none;
	right: 45px;
	bottom: 45px;
	z-index: 99;
}

#spinner {
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.5s ease-out, visibility 0s linear 0.5s;
	z-index: 99999;
}

#spinner.show {
	transition: opacity 0.5s ease-out, visibility 0s linear 0s;
	visibility: visible;
	opacity: 1;
}

.btn {
	transition: 0.5s;
}

/* .btn.btn-primary {
	color: #ffffff;
} */

.btn-square {
	width: 38px;
	height: 38px;
}

.btn-sm-square {
	width: 32px;
	height: 32px;
}

.btn-lg-square {
	width: 48px;
	height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
	padding: 0;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-weight: normal;
	border-radius: 50px;
}

.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 250px;
	height: 100vh;
	overflow-y: auto;
	background: #f3f8ff;
	/* background: blue; */
	transition: 0.5s;
	z-index: 999;
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
		rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.myTable {
	background: #f3f8ff;
	box-shadow: rgba(33, 85, 205, 0.25) 0px 4px 8px -2px,
		rgba(33, 85, 205, 0.08) 0px 0px 0px 1px;
}

#ThePage {
	background-color: #dbdffd;
	box-shadow: rgba(33, 85, 205, 0.25) 0px 4px 8px -2px,
		rgba(33, 85, 205, 0.08) 0px 0px 0px 1px;
	margin-bottom: 90px;
}

thead {
	background: #242f9b;
}

.content {
	margin-left: 250px;
	min-height: 100vh;
	background: #ffffff;
	transition: 0.5s;
	position: absolute;
	color: #242f9b;
}

.layer {
	position: relative;
	min-height: 100%;
}

#warnanav {
	background: #2155cd;
}

#ThePage h3 {
	color: #242f9b;
}

.tombol {
	background-color: #2155cd;
	color: white;
}

.footer {
	background-color: #242f9b;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	color: white;
}

.footer a {
	color: lightcyan;
}

@media (min-width: 992px) {
	.sidebar {
		margin-left: 0;
	}

	.sidebar.open {
		margin-left: -250px;
	}

	.content {
		width: calc(100% - 250px);
	}

	.content.open {
		width: 100%;
		margin-left: 0;
	}
}

@media (max-width: 991.98px) {
	.sidebar {
		margin-left: -250px;
	}

	.sidebar.open {
		margin-left: 0;
	}

	.content {
		width: 100%;
		margin-left: 0;
	}
}

.sidebar .navbar .navbar-nav .nav-link {
	padding: 7px 20px;
	color: #242f9b;
	font-weight: 150;
	border-left: 3px solid #242f9b;
	border-radius: 0 30px 30px 0;
	outline: none;
	font-weight: bold;
}

.sidebar .navbar .navbar-nav .nav-link:hover,
.sidebar .navbar .navbar-nav .nav-link.active {
	color: #dbdffd;
	font-weight: bold;
	background: #242f9b;
	border-left: 5px solid #646fd4;
}

.sidebar .navbar .navbar-nav .nav-link i {
	width: 40px;
	height: 40px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background: #dbdffd;
	color: #242f9b;
	border-radius: 40px;
}

.sidebar .navbar .navbar-nav .nav-link:hover i,
.sidebar .navbar .navbar-nav .nav-link.active i {
	color: #dbdffd;
	background: #242f9b;
}

.sidebar .navbar .dropdown-toggle::after {
	position: absolute;
	top: 15px;
	right: 15px;
	border: none;
	content: "\f107";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	transition: 0.5s;
}

.sidebar .navbar .dropdown-toggle[aria-expanded="true"]::after {
	transform: rotate(-180deg);
}

.content .navbar .navbar-nav .nav-link {
	margin-left: 25px;
	padding: 12px 0;
	color: white;
	outline: none;
}

.content .navbar .navbar-nav .nav-link:hover,
.content .navbar .navbar-nav .nav-link.active {
	color: lightgray;
}

.content .navbar .sidebar-toggler,
.content .navbar .navbar-nav .nav-link i {
	width: 40px;
	height: 40px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background: #2155cd;
	border-radius: 40px;
}

.content .navbar .dropdown-toggle::after {
	margin-left: 6px;
	vertical-align: middle;
	border: none;
	/* content: "\f107"; */
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	transition: 0.5s;
}

.content .navbar .dropdown-toggle[aria-expanded="true"]::after {
	transform: rotate(-180deg);
}

@media (max-width: 575.98px) {
	.content .navbar .navbar-nav .nav-link {
		margin-left: 15px;
	}
}

.active-nav {
	margin-left: 0;
}

/* for main section */
.active-cont {
	margin-left: 250px;
}
